@page
@model dotnet_react_board.Pages.BoardsModel
@{
    ViewData["Title"] = "Boards";
}

<h2>Boards</h2>
<ul>
    <li><a href="/boards/3">3x3 Board</a></li>
    <li><a href="/boards/4">4x4 Board</a></li>
    <li><a href="/boards/5">5x5 Board</a></li>
</ul>

<div id="root"></div>
